@font-face {
  font-family: 'Open Sans';
  src:url('fonts/OpenSans-Regular-webfont.eot?3sv0oh');
  src:url('fonts/OpenSans-Regular-webfont.eot?#iefix3sv0oh') format('embedded-opentype'),
    url('fonts/OpenSans-Regular-webfont.woff?3sv0oh') format('woff'),
    url('fonts/OpenSans-Regular-webfont.ttf?3sv0oh') format('truetype'),
    url('fonts/OpenSans-Regular-webfont.svg?3sv0oh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-t4qrp2');
	src:url('fonts/icomoon.eot?#iefix-t4qrp2') format('embedded-opentype'),
		url('fonts/icomoon.woff?-t4qrp2') format('woff'),
		url('fonts/icomoon.ttf?-t4qrp2') format('truetype'),
		url('fonts/icomoon.svg?-t4qrp2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-music:before {
	content: "\f001";
}
.icon-file-video:before {
	content: "\f008";
}
.icon-file-pic:before, .icon-page_white_picture:before {
	content: "\f03e";
}
.icon-file-text:before{
	content: "\f0f6";
}
.icon-folder:before, .icon-folder_photos:before {
	content: "\f114";
}
.icon-folder-opened:before {
	content: "\f115";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-lock:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-pen:before {
	content: "\e602";
}
.icon-file:before {
	content: "\e610";
}
.icon-cart:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-search:before {
	content: "\e605";
}
.icon-cloud:before {
	content: "\e60e";
}
.icon-delete:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e606";
}
.icon-plus:before {
	content: "\e607";
}
.icon-google-drive:before {
	content: "\e609";
}
.icon-file-pdf:before, .icon-page_white_acrobat:before {
	content: "\e60a";
}
.icon-file-word:before {
	content: "\e60b";
}
.icon-file-excel:before {
	content: "\e60c";
}
.icon-file-zip:before {
	content: "\e60d";
}
.icon-all:before {
	content: "\e60f";
}

/*
	Blue: #59D;
	light-Grey: #EEE;
	Grey: #DDD;
	Red: #C10;
	Yellow: #FFC620;
*/


	/* ----------- /Fonts ----------*/
a, .blue{
	color: #59D;
	text-decoration: none;
}

a.brand{
	font-weight: bold;
}

a:hover, .blue:hover{
	color: #6AE;
}

article{
	background: #EEE;
	padding: 2em;
	margin: 1.2em 1em;
}

article ul.services-list{
	background: #FAFAFA;
	/*border: 2px solid #FFC620;*/
	border-bottom: 0px;
	border-radius: 0.25em 0.25em 0 0;
	margin: 0;
	padding: 0;
}

article ul.services-list li{
	display: inline-block;
	padding: 0.25em 0.5em;
	list-style-position: inside;
}

article ul.services-list li .service-email{
	display: none;
	font-size: 1.2em;
	overflow: hidden;
}

body{
  background: #E4E4E4;
  color: #353535;
  font-family: "Open Sans";
  font-size: 16px;
}

div#files-list{
	background: #FAFAFA;
	border-radius: 0em 0.25em 0.25em 0.25em;
	padding: 1em;
}


div#files-list ul.item{
	border: solid 1px #CCC;
	border-radius: 0.5em;
	cursor: pointer;
	display: inline-block;
	margin: 0.5em;
	padding: 0.75em 0.5em;
	text-align: center;
	width: 12.5%;
}

div#files-list ul.item:hover{
	background: #F5F5F5;
}

div#files-list ul.item .name a{
	display: inline-block;
	height: 1.5em;
	overflow: scroll;
	width: 100%;
}

footer{
	background: #59D;
	border-top: #FFC620 5px solid;
	color: #EEE;
	padding: 2em 1em 5em 1em;
	text-align: center;
}

footer a{
	color: #222;
}

footer a:hover{
	color: #292929;
}

form{
	overflow: hidden;
}

h1, h2, h3, h4, h5{
	font-weight: bold;
}

header{
	margin-top: 0;
	overflow: hidden;
}

header nav{
	background: #59D;
	padding: 0 1em;
}

header nav a{
	color: #EEE;
	padding: 5em 1em;
	transition: all ease 0.2s;
}

header nav a:hover, a.active{
	border-bottom: 4px solid #FFC620;
	padding: 0.35em 1em;
	color: #FFC620;
}

header nav .no-list-style li{
	display: inline-block;
	padding: 0.6em 0em;
}

input{
	background: #E4E4E4;
	border: 0;
	border-radius: 0.2em;
	margin: 0.5em 1.5em;
	padding: 0.3em;
	width: 80%;
}

label{
	text-align: center;
	display: block;
}

.big-icon{
	font-size: 2em;
}

.drag{
	background: black;
	border: 2px solid #FFC620;
}

.green, .green a{
	color: #0A0;
}

.green:hover, .green:hover a{
	color: #0C0;
}

.helptext{
	display: block;
	font-size: 0.8em;
	margin: 0.5em 1.5em;
	padding: 0 0.3em;
	width: 80%;

}

.errorlist{
	color: 	#59D;
	list-style: none;
	text-align: right;
}

.no-list-style{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.red{
	color: #C10;
}

.red:hover{
	color: #E10;
}



