@font-face {
  font-family: 'Open Sans';
  src:url('fonts/OpenSans-Regular-webfont.eot?3sv0oh');
  src:url('fonts/OpenSans-Regular-webfont.eot?#iefix3sv0oh') format('embedded-opentype'),
    url('fonts/OpenSans-Regular-webfont.woff?3sv0oh') format('woff'),
    url('fonts/OpenSans-Regular-webfont.ttf?3sv0oh') format('truetype'),
    url('fonts/OpenSans-Regular-webfont.svg?3sv0oh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ves346');
	src:url('fonts/icomoon.eot?#iefixves346') format('embedded-opentype'),
		url('fonts/icomoon.woff?ves346') format('woff'),
		url('fonts/icomoon.ttf?ves346') format('truetype'),
		url('fonts/icomoon.svg?ves346#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-music:before {
	content: "\f001";
}
.icon-file-video:before {
	content: "\f008";
}
.icon-file-pic:before, 
[class*="picture"]:before {
	content: "\f03e";
}

.icon-file-text:before, 
[class*="text"]:before,
[class*="page_white_document"]:before,
[class*="code"]:before,
[class*="document"]:before{
	content: "\f0f6";
}
.icon-folder:before, [class*="folder"]:before{
	content: "\f114";
}
.icon-folder-opened:before {
	content: "\f115";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-lock:before {
	content: "\e600";
}
.icon-home:before {
	content: "\e601";
}
.icon-pen:before {
	content: "\e602";
}

.icon-file:before,
.icon-page_white:before{
	content: "\e610";
}
.icon-cart:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-search:before {
	content: "\e605";
}
.icon-cloud:before {
	content: "\e60e";
}
.icon-delete:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e606";
}
.icon-plus:before {
	content: "\e607";
}
.icon-upload:before {
	content: "\e611";
}
.icon-google-drive:before {
	content: "\e609";
}
.icon-file-pdf:before, [class*="acrobat"]:before{
	content: "\e60a";
}
.icon-file-word:before, [class*="word"]:before{
	content: "\e60b";
}
.icon-file-excel:before, [class*="excel"]:before{
	content: "\e60c";
}

.icon-file-powerpoint:before, [class*="presentation"]:before{
	content: "\e613";
}

.icon-file-zip:before {
	content: "\e60d";
}
.icon-all:before {
	content: "\e60f";
}
.icon-crum-arrow:before {
	content: "\e612";
}


/*
	Orange: #F63;
	Blue: #59C;
	Green: #8CA;
	Yellow: #F4BA70;
	White: #FBFDFF;
*/


	/* ----------- /Fonts ----------*/


	/* ----------- Animations ----------*/

@-webkit-keyframes pulse {
	from {
		box-shadow: 1px -2px 1px rgba(255,187,102, 0.25)
	}
	50% {
		box-shadow: 1px -2px 2px rgba(255,187,102, 0.75)
	}
	to { 
		box-shadow: 1px -2px 1px rgba(255,187,102, 0.25)
	}
}

	/* ----------- /Animations ----------*/

a, a .blue, a .red, a .green{
	transition: all ease-in-out 0.15s;
}

a, .blue{
	color: #59C;
	text-decoration: none;
}

a.brand{
	font-weight: bold;
}

a.btn{
	background: #59C;
	border-bottom: 3px solid #FB6;
	border-radius: 0.5em;
	color: #EEE;
	cursor: pointer;
	display: block;
	padding: 0.5em;
	transition: all ease-in-out 0.2s;

}

a.btn:hover{
	color: #FB6;
}

a:hover, .blue:hover{
	color: #48B;
}

aside#second-nav{
	background: 0 0.5em;
	border-bottom: 2px solid #F4BA70;
	padding: 0 0.5em;
}

aside#side-info{
	background: #AAA;
	display: inline-block;
	float: right;
	height: 89%;
	margin: 1em 1em 0 0;
	position: relative;
	width: 25%;
}

aside#side-info h2#file-icon{
	font-size: 5em;
	margin: 1em 0em 0.25em 0em;
	text-align: center;
}

aside#side-info ul#interact-btns{
	bottom: 1em;
	position: absolute;
	width: 100%;
}

aside#side-info ul#interact-btns li{
	background: white;
	display: inline-block;
	margin: 0 0.05em 0 0.3em;
	text-align: center;
	width: 30%;
}

aside#side-info ul#interact-btns li#upload{
	color: #59C;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	vertical-align: bottom;
}

aside#side-info ul#interact-btns li#upload input{
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

aside#side-info ul#interact-btns li#upload .button{
	cursor: pointer;
}

article{
	background: #F8FAFD;
	padding: 2em;
	padding-bottom: 4em;
}

article#added-account{
	border-bottom: 2px solid #F4BA70;
	margin-bottom: 1em;
	padding: 1em;
}

article#accounts h3{
	margin-top: 0;
}

article#accounts ul.accounts-list{
	display: block;
	margin-bottom: 3em;
}

article#accounts li.account-info{
	background: #F0F0F0;
	display: inline-block;
	margin: 0 1em 1em 0;
	padding: 1em;
	transition: box-shadow ease-in 0.25s;
	width: 28.5%;
}

article#accounts li.account-info:hover{
	box-shadow: 4px 4px 5px rgba(0,0,0, 0.2);
}

article#accounts li.account-info:last-child{
	margin: 0 0em 1em 0;
}

article#accounts li.account-info span.title{
	font-weight: bold;
	font-size: 1.1em;
}

article#files-list{
	border: 1px solid #CCC;
	display: inline-block;
	height: 89%;
	margin: 1em;
	overflow: scroll;
	padding: 0;
	width: 70%;
}


article#files-list ul.item{
	border-bottom: solid 1px #CCC;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 0.25em 0;
	width: 100%;
}

article#files-list ul.item:hover{
	background: #F5F5F5;
	color: #48B;
}

article#files-list ul.item li{
	display: inline-block;
	max-width: 70%;
}

article#files-list ul.item li:first-child{
	padding: 0 0.5em;
	width: auto;
}

article#files-list ul.item li.size{
	float: right;
	height: 27px;
	text-align: center;
	width: 100px;
}

article#files-list ul.item li.size p{
	margin-top: 0.4em;
}

article#files-list ul.item .name a{
	display: inline-block;
	height: 1.5em;
	overflow: scroll;
	width: 100%;
}

article#files-list ul.item:hover .name a{
	color: #48B;
}


body{
	background: #E5E5E5;
	color: #353535;
	font-family: "Open Sans";
	font-size: 16px;
}

body, html {
	min-height:100%;
	height:100%;
}

div#ajax-bar{
	background: #59C;
	display: inline-block;
	height: 3px;
	position: relative;
	vertical-align: top;

}

div#ajax-error{
	display: block;
	width: 100%;
}


div#ajax-error p{
	background: #B00;
	border: 1px solid #800;
	color: white;
	margin: 0 auto;
	padding: 0.5em;
	text-align: center;
}

div#bar-container{
	height: 3px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}


footer{
	background: #59C;
	border-top: #FB6 5px solid;
	color: #EEE;
	padding: 2em 1em 5em 1em;
	text-align: center;
}

footer a{
	color: #222;
}

footer a:hover{
	color: #292929;
}

form{
	overflow: hidden;
	text-align: center;
}


h1, h2, h3, h4, h5{
	font-weight: bold;
}

header{
	margin: 0;
	overflow: hidden;
}

header nav{
	overflow: hidden;
	padding: 0 4em;
}

header nav a{
	color: #59C;
	padding: 0.5em 1em;
	transition: all ease-in-out 0.25s;
	width: 100%;
}

header nav a:hover, a.active{
	background: rgba(255,255,255, 0.5);
}

header nav ul#nav-items{
	float: right;
	overflow: hidden;
}


header nav ul#nav-items li{
	display: inline-block;
	float: none;
	padding: 0.5em 0em;
	margin-right: -4px;
}

input{
	background: #E4E4E4;
	border: 0;
	border-radius: 0.2em;
	color: black;
	margin: 0.5em 1.5em;
	padding: 0.3em;
	width: 80%;
}

label{
	text-align: center;
	display: block;
}

section#content{
	height: 80%;
	margin: 0em 4em;
}

section#main{
	background: #F8FAFD;
	height: 100%;
	padding: 0;
	padding-bottom: 1em;
	margin: 0em;
}

section#main ul#breadcrums{
	border-bottom: 0px;
	border-radius: 0.25em 0.25em 0 0;
	margin: 0;
	padding: 0;
}

section#main ul#breadcrums li{
	display: inline-block;
	padding-left: 0.1em;
}

section#main ul#breadcrums li:first-child{
	padding: 0.25em 0em 0.25em 0.5em;
}

section#main ul#breadcrums li p{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

section#main ul#breadcrums li:last-child .crum{
	cursor: default;
}

section#main ul#breadcrums li:last-child .crum:hover{
	color: #59C;
}

.big-icon{
	font-size: 2em;
}

.drag{
	border: 5px dashed #59C !important;
	color: #FB6 !important;
	text-align: center;
	vertical-align: middle;
}

.drag p{
	font-size: 2em;
	margin-top: 6.5em;
}

.giant-icon{
	font-size: 3em;
}

.green, .green a{
	color: #0A0;
}

a.green, a .green:hover, .green:hover a{
	color: #0C0;
}

.errorlist{
	color: 	#59C;
	list-style: none;
	text-align: right;
}

.float-inside{
	overflow: hidden;
}

.helptext{
	display: block;
	font-size: 0.8em;
	margin: 0.5em 1.5em;
	padding: 0 0.3em;
	width: 80%;

}

.hide{
	display: none;
}

.med-icon{
	font-size: 1.5em;
}

.no-list-style{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.small-icon{
	font-size: 1em;
}

.red{
	color: #C10;
}

a.red, a .red:hover{
	color: #E10;
}

.yellow{
	color: #FB6;
}

a.yellow, a .yellow:hover{
	color: #FB6;
}

