@font-face {
  font-family: 'Open Sans';
  src:url('fonts/OpenSans-Regular-webfont.eot?3sv0oh');
  src:url('fonts/OpenSans-Regular-webfont.eot?#iefix3sv0oh') format('embedded-opentype'),
    url('fonts/OpenSans-Regular-webfont.woff?3sv0oh') format('woff'),
    url('fonts/OpenSans-Regular-webfont.ttf?3sv0oh') format('truetype'),
    url('fonts/OpenSans-Regular-webfont.svg?3sv0oh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?ves346');
    src:url('fonts/icomoon.eot?#iefixves346') format('embedded-opentype'),
        url('fonts/icomoon.woff?ves346') format('woff'),
        url('fonts/icomoon.ttf?ves346') format('truetype'),
        url('fonts/icomoon.svg?ves346#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-music:before {
    content: "\f001";
}
.icon-file-video:before {
    content: "\f008";
}
.icon-file-pic:before, 
[class*="picture"]:before {
    content: "\f03e";
}


.icon-file-text:before,
[class*="page_white_document"]:before,
[class*="code"]:before,
[class*="document"]:before{
    content: "\f0f6";
}
.icon-folder:before, [class*="folder"]:before{
    content: "\f114";
}
.icon-folder-opened:before {
    content: "\f115";
}
.icon-html5:before {
    content: "\f13b";
}
.icon-css3:before {
    content: "\f13c";
}
.icon-dropbox:before {
    content: "\f16b";
}
.icon-lock:before {
    content: "\e600";
}
.icon-home:before {
    content: "\e601";
}
.icon-pen:before {
    content: "\e602";
}

.icon-file:before,
.icon-page_white:before{
    content: "\e610";
}
.icon-cart:before {
    content: "\e603";
}
.icon-user:before {
    content: "\e604";
}
.icon-search:before {
    content: "\e605";
}
.icon-cloud:before {
    content: "\e60e";
}
.icon-delete:before {
    content: "\e608";
}
.icon-checkmark:before {
    content: "\e606";
}
.icon-plus:before {
    content: "\e607";
}
.icon-upload:before {
    content: "\e611";
}
.icon-google-drive:before {
    content: "\e609";
}
.icon-file-pdf:before, [class*="acrobat"]:before{
    content: "\e60a";
}
.icon-file-word:before, [class*="word"]:before{
    content: "\e60b";
}
.icon-file-excel:before, [class*="excel"]:before{
    content: "\e60c";
}

.icon-file-powerpoint:before, [class*="presentation"]:before{
    content: "\e613";
}

.icon-file-zip:before {
    content: "\e60d";
}
.icon-all:before {
    content: "\e60f";
}
.icon-crum-arrow:before {
    content: "\e612";
}
