a {
  color: #345;
  text-decoration: none;
}
.big-icon {
  font-size: 1.75em;
}
.big-icon.icon-cancel {
  color: #ddd;
  font-size: 1.4em;
}
#bar-container {
  height: 3px;
  width: 100%;
  z-index: 3;
}
#bar-container #ajax-bar {
  background: #59c;
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
#bar-container #ajax-bar.done {
  background: #f4ba70;
}
body {
  color: #345;
  font-size: 16px;
}
.bottom {
  bottom: 0;
  position: absolute;
}
.color-red {
  color: #e00;
}
#files-list {
  background: #fafafa;
  padding: 0 0.25rem;
}
#files-list .item {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0 0.4rem;
}
#files-list .item .name {
  padding: 0.4rem 0 0 0.5rem;
}
#files-list .item .size {
  padding: 0.4rem 0.5rem 0 0;
}
.float-inside {
  clear: both;
  overflow: hidden;
}
header#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.huge-icon {
  font-size: 2rem;
  line-height: 2.5rem;
}
.left {
  float: left;
}
#main {
  padding-top: 3rem;
}
.margin-bottom {
  margin-bottom: 1em !important;
}
.margin-top {
  margin-top: 1em !important;
}
.margin-top-2 {
  margin-top: 2em;
}
.margin-top-3 {
  margin-top: 3em;
}
.med-icon {
  font-size: 1.5rem;
}
nav.navbar {
  background: rgba(255,255,255,0.75);
}
nav.navbar ul.menu {
  background: rgba(0,0,0,0.75);
  margin: 0;
  padding-left: 0.5em;
  position: fixed;
  top: 45px;
  right: -316px;
  width: 300px;
}
nav.navbar ul.menu li {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  list-style: none;
}
nav.navbar ul.menu li:last-child {
  border: 0;
}
nav.navbar ul.menu li a {
  color: #fafafa;
  display: block;
  padding: 0.5em;
}
.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
.padding {
  padding: 1em;
}
.padding-left {
  padding-left: 1em;
}
.padding-left.title {
  padding-left: 1.25em;
}
.padding-top {
  padding-top: 1rem;
}
.relative {
  position: relative;
}
.right {
  float: right;
}
#second-nav {
  background: rgba(85,153,204,0.95);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  color: #fff;
  height: 48px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
#second-nav #breadcrumbs {
  float: left;
}
#second-nav #breadcrumbs li {
  display: none;
}
#second-nav #breadcrumbs li:last-child {
  display: inline-block;
}
#second-nav #breadcrumbs li a {
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 1rem 0.25rem;
}
#second-nav .mobile-logo {
  color: #fff;
  margin: 0 auto;
  width: 100px;
}
#second-nav .mobile-logo .icon-cloud {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  line-height: 45px;
}
#side-info {
  bottom: 0;
  display: none;
  left: 0;
  padding: 2rem 0.5rem 1rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 9;
}
#side-info.show {
  background: rgba(0,0,0,0.7);
  display: block;
}
#side-info .modal-bg {
  background: rgba(230,230,230,0.9);
  border-radius: 0.5rem;
  bottom: -600px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
  height: 80%;
  padding: 2rem 1rem;
  position: relative;
  transition: all ease-in-out 0.3s;
}
#side-info .modal-bg.animate {
  bottom: 0;
}
#side-info #file-icon {
  font-size: 4rem;
}
#side-info .file-info {
  display: inline-block;
  padding: 0 0.5rem;
  text-align: left;
  width: 100%;
}
#side-info #interact-btns {
  text-align: center;
  padding-bottom: 1rem;
}
#side-info #interact-btns li {
  display: inline-block;
}
#side-info #interact-btns li a {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.text-center,
.text-center-small {
  text-align: center;
}
@media screen and (min-width: 640px) {
  body,
  html {
    height: 97%;
  }
  #files-list {
    background: #fafafa;
    display: inline-block;
    float: left;
    height: 100%;
    overflow-y: auto;
    padding-left: 0.5rem;
    box-shadow: 2px 0px 2px rgba(0,0,0,0.3);
    width: 310px;
    z-index: 2;
  }
  #files-list #item .size {
    padding-right: 0.25rem;
  }
  .iframe-container {
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    height: 80%;
    overflow-y: scroll;
    padding: 0 0 1rem 0.8rem;
    width: 60%;
  }
  .iframe-container iframe {
    height: 100%;
    width: 100%;
  }
  #main {
    overflow: hidden;
  }
  section {
    height: 100%;
  }
  #second-nav #breadcrumbs {
    padding-left: 0.5rem;
  }
  #side-info {
    display: block;
    height: 100%;
    padding: 0;
    position: static;
  }
  #side-info .modal-bg {
    background: #fcfcfc;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    padding: 2rem 1rem;
    position: static;
  }
  #side-info .modal-bg .file-info {
    width: auto;
  }
  .text-center-small {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  body,
  html {
    height: 95.5%;
  }
  body {
    background: #eee;
    text-align: center;
  }
  #content {
    display: inline-block;
    margin: 0.5rem 0;
    max-width: 1300px;
    width: 94%;
  }
  #files-list {
    border-right: 1px solid #eee;
    box-shadow: none;
    width: 400px;
    z-index: 4;
  }
  #main {
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    padding-top: 0;
    margin-top: 3rem;
  }
  nav.navbar {
    background: rgba(85,153,204,0.95);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  }
  nav.navbar ul.menu {
    background: none;
    display: inline-block;
    max-width: 1300px;
    overflow: hidden;
    padding: 0;
    position: static;
    vertical-align: bottom;
    width: 94%;
  }
  nav.navbar ul.menu li {
    border: 0;
    float: left;
  }
  nav.navbar ul.menu li a {
    padding: 0.6rem 0.5rem;
  }
  nav.navbar ul.menu li a:hover,
  nav.navbar ul.menu li a.active {
    background: rgba(255,255,255,0.3);
  }
  #second-nav {
    background: #ddd;
    color: #fff;
    height: auto;
    overflow: hidden;
    position: static;
  }
  #second-nav #breadcrumbs li {
    display: inline-block;
  }
  #second-nav #breadcrumbs li:last-child {
    display: inline-block;
  }
  #second-nav #breadcrumbs li a {
    color: #59c;
    font-size: 1rem;
    padding: 0.75rem;
    padding-bottom: 0.6rem;
  }
  #second-nav #breadcrumbs li a:first-child {
    padding-left: 0;
  }
  #second-nav .mobile-logo {
    display: none;
  }
}
