<!DOCTYPE html>
<html lang='es'>
<head>
	<title> MWC - {% block title %} {% endblock %} </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fonts.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body class="{{page_class}}">
	<header id="header" class="full-height absolute top left">
		<nav class="icon-bar custom-color vertical three-up full-height inline-block" id="responsive-tab-bar" role="navigation">
			<div class="brand item padding-05 color-white">
				<span class='icon-cloud huge-icon'></span>
			</div>
			<a class="item ease-in active">
				<span class='icon-home big-icon'></span>
				<label>Home</label>
			</a>
			<a class="item ease-in">
				<span class='icon-plus big-icon'></span>
				<label>Services</label>
			</a>
			<a class="item ease-in">
				<span class='icon-user big-icon'></span>
				<label>Logout</label>
			</a>
		</nav>
	</header><!-- /header -->
	<section class='full-height inline-block content row'>
		{% block content %}
		{% endblock content%}
	</section>

	{% block mobile_fab_block %}
		<div class="hide-for-large-up">
			<a href="#" class="floating-action-button">
				<span class="icon-plus"></span>
			</a>
		</div>
	{% endblock mobile_fab_block %}
</body>
</html>