<!DOCTYPE html>
<html lang='es'>
<head>
	<title> MWC - {% block title %} {% endblock %} </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fonts.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body class="{{page_class}}">
	
	<header id="header" class="full-height absolute top left">
		<nav class="icon-bar custom-color vertical three-up full-height inline-block" id="responsive-tab-bar" role="navigation">
			<div class="brand item padding-05 color-white">
				<span class='icon-cloud huge-icon'></span>
			</div>
			<a class="item ease-in active">
				<span class='icon-home big-icon'></span>
				<label>Home</label>
			</a>
			<a class="item ease-in">
				<span class='icon-plus big-icon'></span>
				<label>Services</label>
			</a>
			<a class="item ease-in">
				<span class='icon-user big-icon'></span>
				<label>Logout</label>
			</a>
		</nav>
	</header><!-- /header -->
	<section class='full-height inline-block content row'>
		<header id="content-title" class='overflow-x-scroll relative'>
			<ul class="breadcrumbs no-background no-border large">
				<li>
					<a class='ease-in'>
						Home
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li>
					<a class='ease-in'>
						Features
					</a>
				</li>
				<li class="current">
					<span>Cloning</span>
				</li>
			</ul>
		</header><!-- /header -->
		<article class='small-12 large-8 background-white columns full-height overflow-y-scroll padding-bottom'>
			<div class="row">
				<table class="full-width no-border-bottom no-border-right">
					<thead class="background-grey" style="position:relative;z-index: 11;">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Size</th>
							<th class='hide-for-small'>Last modified</th>
						</tr>
					</thead>
					<tbody class='full-height'>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawierowfjm dwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr><tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawierowfjm dwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr><tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawierowfjm dwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr><tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawierowfjm dwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr><tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawierowfjm dwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr><tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawierowfjm dwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>
						<tr>
							<td> <a href=""><span class="icon-file"> </span>Fichero asdfjasdfasd fawier qpowfjmqdwkjcaopiwe</a> </td>
							<td>File</td>
							<td>234 Kb</td>
							<td class='hide-for-small'>13/01/1992</td>
						</tr>

					</tbody>
				</table>
			</div>
		</article>
		<aside class='show-for-large-up large-4 columns full-height background-dark-grey'>
			<div class="row full-height">
				<header id="viewer-header" class='text-center'>
					<h5 class="color-white padding-top-025">No file selected</h5>
				</header>
				<div class='small-12 columns file-container'>
					<iframe class="full-width full-height" src="http://www.auladecastellano.com/pdf/a%20Noticia%20de%20un%20secuestro.pdf" frameborder="0"></iframe>
				</div>
			</div>
		</aside>
	</section>
	

	<!--<header id="main-nav">
			<nav class="navbar" role="navigation">
				<ul class="menu" class="no-list-style">
					<li id="home"><a href="/" id="home"><span class="icon-home"></span> Home</a></li>
					<li id="services"><a href="/services" id="add">Services</a></li>
					{% if request.user.is_annonymous %}
						<li id="login"> <a href="/login" id="user"><span class="icon-user"></span>Login</a></li>
						<li id="register"> <a href="/register" id="user"><span class="icon-user"></span>Register</a></li>
					{% else %}
					<li id="logout"> <a href="/logout" id="user"><span class="icon-user"></span>Logout</a></li>
					{% endif %}
				</ul>
			</nav>
	</header>

	<section id="content">
		{% block content %}
		{% endblock content%}
	</section>

	<script src='{{STATIC_URL}}js/code.js'></script>
	<script type="text/javascript">
		$('#ajax-error').hide();
		{% block script %} 
		{% endblock %}
	</script>-->
</body>
</html>