<!DOCTYPE html>
<html lang='es'>
<head>
	<title> MWC - {% block title %} {% endblock %} </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalizer.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fonts.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/upload.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body class="{{page_class}}">
	<header id="main-nav">
			<div id="bar-container">
				<div id="ajax-bar">
				</div>
			</div>
			<div id="ajax-error">
				<p>An error ocurred with connection to server. Please, try again.</p>
			</div>
			<nav class="navbar" role="navigation">
				<ul id="nav-items" class="no-list-style">
					<li id="home"><a href="/" id="home"><span class="icon-home"></span> Home</a></li>
					<li id="services"><a href="/services" id="add">Services</a></li>
					{% if request.user.is_annonymous %}
						<li id="login"> <a href="/login" id="user"><span class="icon-user"></span>Login</a></li>
						<li id="register"> <a href="/register" id="user"><span class="icon-user"></span>Register</a></li>
					{% else %}
					<li id="logout"> <a href="/logout" id="user"><span class="icon-user"></span>Logout</a></li>
					{% endif %}
					

				</ul>
			</nav>
	</header>

	<section id="content">
		{% block content %}
		{% endblock content%}
	</section>

	<!-- Future <script src="{{STATIC_URL}}js/jquery-mobile.js"></script>-->
	<script src="{{STATIC_URL}}js/sorttable.js"></script>
	<script src='{{STATIC_URL}}js/upload.js'></script>
	<script src='{{STATIC_URL}}js/code.js'></script>
	<script type="text/javascript">
		$('#ajax-error').hide();
		{% block script %} 
		{% endblock %}
	</script>
</body>
</html>