{% extends 'base.html' %}
{% block title %} {{page_title|capfirst}} {% endblock %}
{% block content %}
	<article id="data-contents">
		<table border="1" width="600">
			<tr>
				<td>Name</td>
				<td>Last Modified</td>
				<td>Size</td>
				<td>Location</td>
			</tr>
			{% for service in data.services %}
				{% for content in service.contents %}
				<tr>
					<td>{{content.name}}</td>
					<td>{{content.modified}}</td>
					<td>{{content.size}}</td>
					<td>{{service.service_name}}</td>
				</tr>
				{%endfor%}
			{%endfor%}
		</table>
	</article>

{% endblock %}
{% block script %}

	var myObj = JSON.parse('{{obj|safe}}');

{% endblock %}