{% extends 'base.html' %}
{% block title %} {{page_title|capfirst}} {% endblock %}
{% block page_title %} {{page_title|capfirst}} {% endblock %}
{% block content %}
<section ng-app="files" ng-controller="Controller" class='full-height inline-block content row'>
	<header id="content-title" class='overflow-hidden relative'>
		<ul class="breadcrumbs no-background no-border large">
			{% verbatim %}
			<li ng-repeat="link in breadcrumbs" ng-class='{"current": $last}'>
				<a ng-click="breadcrumbClick(link, $index)" class='ease-in'>
					{{link.title}}
				</a>
			</li>
			{% endverbatim %}
		</ul>
	</header><!-- /header -->
	<article class='small-12 large-8 background-white columns full-height padding-bottom'>
		<div class="row full-height overflow-y-scroll ">
			<a href="#" class="show-for-large-up floating-action-button">
				<span class="icon-plus"></span>
			</a>
			<table class="full-width no-border-bottom no-border-right">
				<thead class="background-grey">
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Size</th>
						<th class='hide-for-small'>Last modified</th>
					</tr>
				</thead>
				{% verbatim %}
				<tbody ng-repeat="service in account.services" class='full-height'>
					<tr ng-repeat="content in service.contents | orderBy: order">
						<td> 
							<a ng-click="elementClick(service, content)">
								<span class="icon-file icon-{{content.icon}}"> </span>
								{{content.name}}
							</a>
						</td>
						<td>
							<span ng-if="content.is_dir">Folder</span>
							<span ng-if="!content.is_dir">File</span>
						</td>
						<td class='no-wrap'>
							<span ng-if="content.is_dir">--</span>
							<span ng-if="!content.is_dir">{{content.size}}</span>
						</td>
						<td class='hide-for-small'>{{content.modified | date:"dd-MM-yyyy, HH:mm"}}</td>
					</tr>
				</tbody>
				{% endverbatim %}
			</table>
		</div>
		<div class="clearfix"></div>
	</article>
	<aside class='show-for-large-up large-4 columns full-height background-dark-grey'>
		{% verbatim %}
		<div class="row full-height overflow-hidden">
			<header id="viewer-header" class='text-center'>
				<h5 ng-if="selectedFile.has_value" class="color-white padding-top-025">
					{{selectedFile.name | truncate:40}}
				</h5>
				<h5 ng-if="!selectedFile.has_value" class="color-white padding-top-025">
					No selected file
				</h5>
			</header>
			<div ng-if="selectedFile.has_value" class="small-12 columns text-center margin-top margin-bottom">
				<ul class="button-group radius no-weight">
					<li><a href="#" class="small padding text-normal button">
						Download
					</a></li>
					<li><a href="#" class="small padding text-normal button">
						Share
					</a></li>
					<li><a href="#" class="small padding text-normal button alert">
						Delete
					</a></li>
				</ul>
			</div>
			<div ng-if="selectedFile.has_value" class='small-12 columns file-container'>
				<iframe class="full-width full-height" ng-src="{{selectedFile.documentUrl}}" frameborder="0"></iframe>
			</div>

			<div ng-if="!selectedFile.has_value" class="columns small-12 text-center">
				<div class="panel margin-top ">
					<div class="circle huge background-shady margin bottom-shadow">
						<span class="icon-file"></span>
					</div>
					<p class="">
						Select a file to watch a preview here
					</p>
				</div>
			</div>
		</div>
		{% endverbatim %}
	</aside>
</section>
{% endblock %}

{% block mobile_fab_block %}
	<div class="hide-for-large-up">
		<a href="#" class="floating-action-button">
			<span class="icon-plus"></span>
		</a>
	</div>
{% endblock mobile_fab_block %}

{% block script %}
	<script src="{{STATIC_URL}}js/vendor/angular.js"></script>
	<script src="{{STATIC_URL}}js/vendor/angular-route.js"></script>
	<script src="{{STATIC_URL}}js/controllers.js"></script>
	<script src="{{STATIC_URL}}js/filters.js"></script>
	<script src="{{STATIC_URL}}js/services.js"></script>
	<script src="{{STATIC_URL}}js/app.js"></script>
{% endblock %}