{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block pagetitle %} {{page_title}} {% endblock %}

{% block loading_ajax_bar %}
	<div id="bar-container">
		<div id="ajax-bar">
		</div>
		<div id="ajax-error">
			<p>An error ocurred with connection to server. Please, try again.</p>
		</div>
	</div>
{% endblock loading_ajax_bar %}

{% block content%}

<section id="main">
	<aside class="float-inside">
		<a id="upload-btn" class="btn">
			<span class="icon-cloud"> </span>Upload file
		</a>
		<ul class="no-list-style" id="breadcrums">
			<li class="blue" id="files-home"> 
				<a href="{% url 'get_home' %}" class="crum">
					<span class="icon-cloud big-icon"></span>
					<p></p>
				</a>
			</li>
		</ul>
	</aside>
	<aside>
		<div id="upload-area" class="dragandrophandler">
			<p>
				Drag and drop your files here to upload
			</p>
		</div>
	</aside>


	<article id="files-list">
	{% for service in data.services %}
		{% for item in service.contents %}
			<ul class="item no-list-style">
				<li>
					<span class="icon-{{item.icon}} big-icon"></span>
				</li>
				<li class="name">
				{% if item.is_dir %}
					<a class="get-path-btn" href="{% url 'get_path' service.service_class service.uid item.path %}">
				{% elif item.icon == "application/vnd.google-apps.folder" %}
					<a class="get-path-btn" href="{% url 'get_path' service.service_class service.uid item.path %}">
				{% else %}
					<a href="/aqui_va_la_url_del_archivo">
				{% endif %}
						{{item.name|capfirst}}
					</a>
				</li>
				<li class="size">
				{% if item.is_dir or item.icon == "application/vnd.google-apps.folder" %}
					--
				{% else %}
					{{item.size}}
				{% endif %}
				</li>
			</ul>
		{% endfor %}
	{% endfor %}
	</article>
		
</section>

<script type="text/javascript">
	var myObj = {{obj|safe}};
	$('#upload-area').hide();
</script>

{% endblock %}