{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block pagetitle %} {{page_title}} {% endblock %}

{% block content%}

<article>
	<aside class="float-inside">
		<a id="upload-btn" class="btn">
			<span class="icon-cloud"> </span>Upload file
		</a>
		<ul class="no-list-style breadcrums">
			<li class="blue"> 
				<a href="{% url 'get_home' %}" id="files-home" class="crum">
					<span class="icon-cloud med-icon"></span>
				</a>
			</li>
		</ul>
	</aside>
		<div id="upload-area" class="dragandrophandler">
			<p>
				Drag and drop your files here to upload
			</p>
		</div>
		<div id="bar-container">
			<div id="ajax-bar">
			</div>
		</div>

		<div id="files-list">
		{% for service in data.services %}
			{% for item in service.contents %}
				<ul class="item no-list-style {{service.uid}}">
					<li>
						<span class="icon-{{item.icon}} big-icon"></span>
					</li>
					<li class="name">
					{% if item.is_dir %}
						<a class="get-path-btn" href="{% url 'get_path' service.service_class service.uid item.name %}">
					{% elif item.icon == "application/vnd.google-apps.folder" %}
						<a class="get-path-btn" href="{% url 'get_path' service.service_class service.uid item.path %}">
					{% else %}
						<a href="/aqui_va_la_url_del_archivo">
					{% endif %}
							{{item.name|capfirst}}
						</a>
					</li>
					<li class="size">
					{% if item.is_dir or item.icon == "application/vnd.google-apps.folder" %}
						--
					{% else %}
						{{item.size}}
					{% endif %}
					</li>
				</ul>
			{% endfor %}
		{% endfor %}
		</div>
		
</article>

<script type="text/javascript">
	var myObj = {{obj|safe}};
	$('#upload-area').hide();
</script>

{% endblock %}