{% extends 'base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block pagetitle %} {{page_title}} {% endblock %}

{% block content%}

{% if auth_finished %}
	<article id="added-account">
		{% if new_account %}
			<h2>{{service_added|capfirst}} account added</h2>
			<p class="added-info">Your account {{client_email}} was successfully added</p>
			<p class="red">HERE WE ARE GOING TO EXPLAIN HOW TO FILTER IN ALL FILES VIEW</p>
		{% else %}
			<h2>{{service_added|capfirst}} account not added </h2>
			<p class="refresh-info">The account {{client_email}} was already added.
			if you want to add another, please switch your account in {{service_added|capfirst}}.</p>
			<p class="red">EXPLANATION: HOW TO LOGOUT IN DROPBOX / GDRIVE.</p>
		{% endif %}
		<p class="red">THIS SECTION IS GOING TO ANOTHER TEMPLATE</p>
	</article>
{%endif%}


<article class="accounts">
	{% for service in services%}
	<h3><span class="icon-{{service.name}} red big-icon"> </span>{{service.name}} accounts connected</h3>
		<ul class="no-list-style services-list">
		{% for account in service.accounts %}
			<li> 
				<a href="{% url 'delete_account' service.id account.uid%}">
					<span class="icon-delete red"> </span>
				</a>

				{{account.email|capfirst}}
			</li>
		{%endfor%}
				<li>
					<a href="/add_dropbox"><span class="icon-plus"> </span>Add Dropbox account</a>
				</li>
			</ul>
	{%endfor%}
</article>

<script type="text/javascript">
	var myObj = {{obj|safe}};
</script>

{% endblock %}