blueColor #59C
greenColor #8CA
orangeColor #F63
whiteColor #FBFDFF
yellowColor #F4BA70

bottom-shadow-z1()
    box-shadow 0px 2px 2px rgba(0,0,0,0.3)

a
    text-decoration none

body
    font-size 16px

header#main-nav
    position fixed
    top 0
    left 0
    right 0

    div#bar-container
        height 3px
        position fixed
        top 0
        width 100%
        z-index 999

        div#ajax-bar
            background #FB6
            display inline-block
            height 3px
            position relative
            vertical-align top
            width 100% // delete

    nav.navbar
        background rgba(255, 255, 255, .75)

        ul#nav-items
            background rgba(0, 0, 0, .75)
            margin 0
            padding-left .5em
            position fixed
            top 45px
            width 300px
            li
                border-bottom 1px solid rgba(255,255,255,0.5)
                list-style none
                padding .5em

                &:last-child
                    border 0

                a
                    color #FAFAFA

#second-nav
    background rgba(245, 245, 245, .9)
    bottom-shadow-z1()
    height 45px
    overflow hidden

    #breadcrumbs 
        float left
        li
            display none

            &:last-child
                display inline-block
            a
                padding .1em
                font-size 1rem
    .mobile-logo
        color blueColor
        display inline-block

                
.no-list-style
    list-style none
    margin 0
    padding 0

.text-center, .text-center-small
    text-align center

@media screen and (min-width 640px)
    .text-center-small
        text-align left
    body
        background #FAFAFA

@media screen and (min-width 1024px)
    body 
        background #EEE

@media screen and (min-width 1400px)
    body
        background #DDD