@import 'base.styl'
@import 'nib/gradients'

darkBlue = #346

html
    height 100%
    max-height 100%
    overflow hidden


.breadcrumbs.large
    -webkit-overflow-scrolling touch
    /* has to be scroll, not auto */
    overflow-x scroll
    padding-bottom 1.5rem
    padding-right 4rem
    white-space nowrap
    width 100%
    
    &:after
        background linear-gradient(left, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 1) 80%)
        content ''
        height 100%
        position absolute
        right 0
        top 0
        width 6%

    &>* 
        display inline
        float none
        a, &:before, span
            text-decoration none
            
        &:hover a
            border-bottom 1px solid 

#content-title
    background greyColor
    bottom-shadow(1, 1, .2)
    height 2.75rem
    position relative
    z-index 10

.file-container
    overflow-y auto
    -webkit-overflow-scrolling touch
    height 70%
    width 100%

.icon-bar.custom-color 
    background darkBlue
    inset-right-shadow(1, 2, .5)
    z-index 999

    .item

        &:hover, &.active
            background rgba(255, 255, 255, .15)
            color secondaryColor
        
        &.active
            bottom-shadow(1, 1, 0.3)
        
        &.brand
            color whiteColor
            text-shadow(4, 6, 0.5)
            &:hover
                background none
                color whiteColor
            
            h4
                color whiteColor

.row
    max-width em !important

/* SMALL ONLY */
@media screen and (max-width: 40rem)
    body
        padding-bottom 4.25rem

    #responsive-tab-bar
        bottom 0
        bottom-shadow(-1,1,0.5)
        height 60px
        left 0
        position fixed
        right 0
        
        .item
            box-shadow none
            display inline-block
            padding .5rem 1rem
            width 33.3333%
            
            &.brand
                display none


/* MEDIUM UP */
@media screen and (min-width: 40rem)
    
    .breadcrumbs.large
        padding-top 1.75rem
        
        &>* 
            &:before
                margin 0 .25rem 0 0

            a, &:before, span
                border-bottom 1px transparent
                font-size 1.75rem
                font-weight lighter
                text-decoration none

    .content
        padding-left 94px
        
    #content-title
        height 4rem
        //position static
        
    #viewer-header
        background darkBlue
        border-top 1px solid #DDDDDD 
        height 37px
        
        > h5
            padding-top .15rem

/* VERTICAL MEDIA QUERIES*/
@media screen and (min-height: 40rem)
    .file-container
        height 75%


@media screen and (min-height: 50rem)
    .file-container
        height 80%
